.profile-header {
 align-items: center;
 display: flex;
 flex-direction: column;
}

.user-name-container {
  color: rgb(33, 25, 34);
  margin-right: 0px;
  height: 120px;
  width: 120px;
  display: flex;
}


.user-name {
  font-family: 'Roboto', sans-serif;
  color: rgb(17, 17, 17);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}


.user-circle {
  height: 120px;
  width: 120px;
  display: flex;
  background-color: #efefef;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
}

.user-letter {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-size: 84px;
  color: white;
  text-align: center;
  justify-content: center;
}

.user-handle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(17, 17, 17);
  font-size: 16px;
  text-align: center;
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}

.user-follows {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(17, 17, 17);
  font-size: 16px;
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.user-follows-container span{
  font-family: 'Roboto', sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 300;
  color: rgb(17, 17, 17);
  font-size: 16px;
  flex-direction: row;
}

.dropdown-content a {
  writing-mode: horizontal-tb;
  white-space: nowrap;
  align-content: center;
  background-color: none;
}
.plus-button-container {
float:right;
   background-color: white;
   margin-right: 28px;
}

.plus-profile-link {
  background-color: white;
  color: none;
}

.profile-link-buttons-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-link-buttons-container button {
  padding: 12px 12px;
  border-radius: 24px;
  background-color: white;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}

.profile-link-buttons-container button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.profile-link-buttons-container button:focus {
  color: rgb(17, 17, 17);
  color: white;
}