.create-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.8);
  z-index: 10;
}



.create-modal-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  // min-height: 390px;
  width:540px;
  padding: 20px 10px;
  border-radius:24px;
  // padding-bottom: 100px;
  
}
.create-modal-container img {
  justify-content: center;
  display: flex;
  width: 32px;
  height: 32px;
}

.create-modal-welcome {
  margin: 0px auto 18px;
  width: 400px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

.create-modal-container h1 {
  color: rgb(51, 51, 51);
  font-size: 28px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1.2px;
  position: relative;
  text-align: center;
}

.create-text {
  float: top;
  text-align: top;
  
}

.create-nav {
  flex-direction: row;
  justify-content: space-between;
}

.create-nav button {
  display: flex;
}
.bt{
  display: flex;
flex-direction: row;
  justify-content: space-between;
  vertical-align: none;
  align-items: none;
  text-align: none;
}
.create-input-item-description {
  height: 120px;
  width: 450px;
  resize: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 16px;
  outline: none;
  box-sizing: border-box;
  border: 3px solid #efefef;
}

.create-input-item input::placeholder {
  // text-align: center;
  opacity: 40%;
  padding-top: -12px;
}

.create-input-item textarea::placeholder {
  opacity: 40%;
  // padding-top: 30px;
  // text-align: center;
}

.create-form h2 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51);
font-weight: 400;
margin-top: 4px;
margin-bottom: 4px;
}

.create-input-item-title {
  height: 60px;
  width: 450px;
  resize: none;
  font-size: 16px;
  padding: 12px;
  padding-top: 7px;
  border-radius: 16px;
  outline: none;
  box-sizing: border-box;
  border: 3px solid #efefef;
}

.create-input-item-title:hover {
  border: 3px solid rgba(0, 132, 255, 0.5);
}

.create-input-item-title:focus {
  background-color: rgba(153, 230, 255, 0.2);
}

.create-input-item-description:hover {
  border: 3px solid rgba(0, 132, 255, 0.5);
}

.create-input-item-description:focus {
  background-color: rgba(153, 230, 255, 0.2);
}

.create-nav {
  position: relative;
  align-self: center;
}

// .create-submit button {
//   position: relative;
//   left: 50%;
//   margin-left: -25px;
//   margin-top: 25px;
//   margin-bottom: 10px;
// }

// .create-bt button:hover {
//    filter: brightness(85%);
// }

// .upload-image {
//   background-color: rgba(152, 183, 194, 0.082);
//   // width: 450px;
//   // height: 100px;
//   box-sizing: border-box;
//   border-radius: 16px;
//   // padding: 12px;
//   font-size: 16px;
//   border: 3px solid #efefef;
//   text-align: center;
// }

// .upload-image p {
//   align-self: center;
//   padding-top: 20px;
//   opacity: 50%;
// }

// // .file-upload-button {
// //   background-color:blue;
// // }

// .upload-zone {
//   // position: absolute;
//   // margin-left: -230px;
//   // padding: 0;
//   // size:'500';
//   width: 100%;
//   // height: 100%;
//   border-radius: 0px;
//   outline: none;
//   opacity: 100;
// }

// .upload-image:hover {
//   border: 3px solid rgba(0, 132, 255, 0.5);
//   background-color: rgba(153, 230, 255, 0.2);

// }

// .upload-image:focus {
//   background-color: rgba(153, 230, 255, 0.2);
// }

// .create-form h2 {
//   margin-top: 12px;
//   margin-bottom: 6px;
// }

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.input-button {
  display: block;
  // position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin-top: 25px;
  background: #e60023;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  // align-self: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  
}

// .file-input:valid { background-color: green; }
// .file-input:invalid { background-color: red; }

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.file-name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

.file-input {
  display: flex;
align-content: center;
justify-content: center;
}

.create-button-container {
   display: flex;
align-content: center;
justify-content: center;
}

.create-button {
  display: block;
  // position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: #efefef;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  // align-self: center;
  justify-content: center;
  // color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.loader-container {
  display:flex;
  justify-content: center;
}

.loader {
  margin-top: 30%;
  position: fixed;
  // display: block;
  width: 100%;
  height: 100%;
  border: 8px solid #efefef;
  border-top: 8px solid #e60023;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  opacity: 0%;
}


// .loader--hide {
//   opacity: 0%;
// }

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}