.pin-show {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  background: white;
  min-height: 300px;
  min-width:600px;
  height: auto;
  padding: 20px;
  border-radius:36px;
}

@media screen and (min-width:0px){
  .pin-show { 
    max-width: 400px;
  }
}

@media screen and (min-width:800px){
  .pin-show { 
    min-height: 300px;
    min-width:500px;
  }
}

@media screen and (min-width:750px){
  .pin-show .create-pin .create-board{ 
    min-height: 300px;
    min-width:500px;
  }
}

@media screen and (min-width:800px){
  .pin-show .create-pin .create-board {
    min-height: 300px;
    min-width:600px;
  }
}

.pin-show-left {
  display: flex;
  width: 50%;
  margin: 16px;
}

.pin-show-right {
  display: flex;
  width: 50%;
  margin: 16px;
}

.pin-show-description {
  width: 120%;
}

.pin-show-left img{
  display: relative;
  max-width: 100%;
  border-radius: 36px;
}

.pin-show-title {
 color: #333333;
 font-size: 28px;
 font-weight: 700;
}

.pin-show-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-around;
}

.pin-delete-button-container {
  display: absolute;
  align-self: flex-end;
}

.pin-delete-button {
  align-content: flex-end;
  padding: 0px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  color:rgba(91, 91, 91, 0.3);
  box-shadow: none;
}

.pin-delete-button button {
  display: flex;
}

.pin-show-info-container hr {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 6px;
  width: 120%;
}

.fa-times-circle {
  display: flex;
  padding: 0px;
  align-self: flex-end;
  right: 50px;
  color:rgba(91, 91, 91, 0.3);
  font-size: 30px;
}

.fa-times-circle:hover {
  color:red;
}

.pin-delete-button:hover {
  color:red;
}
