.pin-show {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  background: white;
  min-height: 200px;
  min-width:425px;
  height: auto;
  padding: 36px;
  border-radius:36px;
}

.pin-show-image img{
  min-width: 100%;
  display: flex;
  border-radius: 16px;
  align-self: center;
}

.pin-show-image {
  padding-right: 25px;
  display: flex;
}

.pin-show-title {
 color: #333333;
 font-size: 28px;
 font-weight: 700;
}

.pin-show-info-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.pin-show-info-container hr {
  height: 1px;
  background-color: #333;
  border: none;
  width: 200px;
  opacity: 30%;
  margin-left: 0px;
  border-radius: 0px;
}

.pin-delete-button-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
}

.pin-delete-button {
  align-content: flex-end;
  padding: 0px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  color:rgba(91, 91, 91, 0.3);
}

.pin-delete-button button{
  display: flex;
}

.fa-times-circle {
  display: flex;
  padding: 0px;
  align-self: flex-end;
  right: 50px;
  color:rgba(91, 91, 91, 0.3);
  font-size: 30px;
}

.fa-times-circle:hover {
  color:red;
}
