.nav-bar {
    display: flex;
    position: fixed; 
    align-items: center;
    justify-content: space-between;
    -webkit-boc-pack: justify;
    box-sizing: border-box;
    flex-direction: row;
    padding: 20px 30px;
    width: 100%;
    height: 80px;
    margin-right: 24px;
    background-color: transparent;
    // width: 887.778px;
}

.nav-bar-child-left {
   
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-bar-child-right {
   
   
    background-color: transparent;
    font-size: x-large;
    display: block;
     align-items: center;
}

.red-button {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(230, 0, 35);
    border: none;
    border-radius: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 8px;
    cursor: pointer;
}

.grey-button {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    border: none;
    font-weight: 700;
    border-radius: 25px;
    color:rgb(17,17,17);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.zn {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

// .zenterest {
//   width: 200px;
//   height: 50px;
//   display: inline-block;
// }

//Noto Sans JP
//@100;300;400;500;700;900

//Roboto
//@100;300;400;500;700;900

.splash-logo {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: rgb(230, 0, 35);
    -webkit-font-smoothing: antialiased;
    text-align: left;
    display: inline-block;
    text-size-adjust: 100%;
}