/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.

 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//CSS Reset
@import 'base/reset.scss';

//Core
@import 'base/colors.scss';
@import 'base/fonts.scss';

//Components
@import 'components/boards/_create-board.scss';
@import 'components/boards/_index-board.scss';
@import 'components/boards/_show-board.scss';

@import 'components/pins/_create-pin.scss';
@import 'components/pins/_index-pin.scss';
@import 'components/pins/_show-pin.scss';

@import 'components/site/_modal.scss';
@import 'components/site/_navbar.scss';
@import 'components/site/_profile-nav.scss';

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: normal;
  min-height: 40px;
  min-width: 60px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-property: transform;
  transition-timing-function: ease-out;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  white-space: nowrap;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.94);
  transition-delay: 0s;
  transition-duration: 0.085s;
  transition-property: transform;
  transition-timing-function: ease-out;
  vertical-align: middle;
  cursor: pointer;
}

.animation {
  position: relative;
  bottom:  220px;
  width: 90%;
  height: 90%;
}

html {
  // background: linear-gradient(116deg, rgba(216,216,215,1) 0%,
  // rgba(255,255,255,0.4164040616246498) 49%, rgba(218,218,218,1) 100%);
  background-color: #e0e0e0;
  max-width: 100%;
  overflow-x: hidden !important;
}
